<div class="layout-container">

    <header role="banner">
    <div class="region region-header">
      Header Region
    </div>
  </header>

    <div class="region region-primary-menu">
    <nav role="navigation">
      <ul>
        <li><strong>Primary Menu Region:</strong></li>
              <li><a href="#">Primary Menu Link 1</a></li>
              <li><a href="#">Primary Menu Link 2</a></li>
              <li><a href="#">Primary Menu Link 3</a></li>
            </ul>
    </nav>
  </div>

    <div class="region region-secondary-menu">
    <nav role="navigation">
      <ul>
        <li><strong>Secondary Menu Region:</strong></li>
              <li><a href="#">Secondary Menu Link 1</a></li>
              <li><a href="#">Secondary Menu Link 2</a></li>
              <li><a href="#">Secondary Menu Link 3</a></li>
            </ul>
    </nav>
  </div>

    <div class="region region-breadcrumb">
    <nav role="navigation">
      <ul>
        <li><strong>Breadcrumb Region:</strong></li>
              <li><a href="#">Breadcrumb Link 1</a></li>
              <li><a href="#">Breadcrumb Link 2</a></li>
              <li><a href="#">Breadcrumb Link 3</a></li>
            </ul>
    </nav>
  </div>

    <div class="region region-highlighted">
    <h2>Highlighted Region</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque nulla a lorem tristique, sit amet sagittis libero faucibus. Proin metus nulla, tristique non tortor in, convallis mattis ligula. Donec ut mauris vel augue euismod posuere. In vestibulum dolor at suscipit consequat. Donec in sollicitudin libero, eu ornare ligula. Morbi suscipit vel velit in tempor. Integer ex velit, congue at porttitor eget, finibus sit amet tellus.</p>
  </div>

    <div class="region region-help">
    <h2>Help Region</h2>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

  <main role="main">
    <div class="layout-content">
            <div class="region region-content">
        <h1>Content Region</h1>
        <article role="article">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque nulla a lorem tristique, sit amet sagittis libero faucibus. Proin metus nulla, tristique non tortor in, convallis mattis ligula. Donec ut mauris vel augue euismod posuere. In vestibulum dolor at suscipit consequat. Donec in sollicitudin libero, eu ornare ligula. Morbi suscipit vel velit in tempor. Integer ex velit, congue at porttitor eget, finibus sit amet tellus.</p>
          <p>Mauris leo lacus, ullamcorper id mi accumsan, tristique pulvinar eros. Suspendisse eu sapien tellus. Sed ut dolor varius, fermentum leo quis, bibendum leo. Nullam pharetra dictum augue, sed condimentum orci efficitur vitae. Integer congue magna ac ex fermentum, nec vulputate enim sollicitudin. Donec efficitur lorem purus, vel tristique erat rhoncus ac. Nulla eleifend ex sit amet viverra blandit. Aliquam eget turpis in erat ullamcorper mollis ut sit amet arcu. Aenean ante magna, laoreet non metus et, semper interdum lorem. In quis pharetra nunc.</p>
          <p>Curabitur vel magna pulvinar, pulvinar purus et, ullamcorper libero. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed orci sit amet elit sodales tristique. Nunc tempus est in fringilla placerat. Morbi sit amet dictum justo. Sed euismod ligula nec elit finibus, ac volutpat velit vestibulum. Nullam id neque lobortis, blandit justo sit amet, fermentum lacus. Aliquam dictum nisi in nisi scelerisque ornare. Etiam urna risus, consequat vehicula lectus tincidunt, rutrum vestibulum odio. Vestibulum sagittis volutpat sem, luctus tempus tortor dignissim ut. Pellentesque at turpis ipsum. Sed eget mattis dui. Ut in molestie lacus, porta ultricies dui. Nam quis enim at tortor egestas commodo vel et metus. Morbi a posuere risus.</p>
        </article>
      </div>
    </div>
        <aside class="layout-sidebar-first" role="complementary">
      <div class="region region-sidebar-first">
        <nav role="navigation">
          <h2>First Sidebar Region</h2>
          <ul>
                      <li><a href="#">First Sidebar Link 1</a></li>
                      <li><a href="#">First Sidebar Link 2</a></li>
                      <li><a href="#">First Sidebar Link 3</a></li>
                    </ul>
        </nav>
        <div class="some-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque nulla a lorem tristique, sit amet sagittis libero faucibus. </p>
        </div>
      </div>
    </aside>
        <aside class="layout-sidebar-second" role="complementary">
      <div class="region region--sidebar-second">
        <nav role="navigation">
          <h2>Second Sidebar Region</h2>
          <div class="some-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque nulla a lorem tristique, sit amet sagittis libero faucibus. </p>
          </div>
          <ul>
                      <li><a href="#">Second Sidebar Link 1</a></li>
                      <li><a href="#">Second Sidebar Link 2</a></li>
                      <li><a href="#">Second Sidebar Link 3</a></li>
                    </ul>
        </nav>
      </div>
    </aside>
  </main>

    <footer role="contentinfo">
    <div class="region region-footer">
      <h2>Footer Region</h2>
      <nav role="navigation">
        <ul>
                  <li><a href="#">Footer Link 1</a></li>
                  <li><a href="#">Footer Link 2</a></li>
                  <li><a href="#">Footer Link 3</a></li>
                </ul>
      </nav>
    </div>
  </footer>

</div>
