{#
/**
 * @file
 * Text pattern.
 */
#}

<div class="component-text c-container {{ color }}">
    <h2>{{ title }}</h2>
    <div class="description">
        {% if subtitle %}
        <div class="subtitle">{{ subtitle }}</div>
        {% endif %}
        <p>{{ description }}</p>
    </div>
</div>
